In [1]:
import pandas as pd
import geopandas as gpd

## KML Maps Test

In [5]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
gdf = gpd.read_file("BioGro Licensee Locations.kml", driver='KML')
gdf.head()

Empty GeoDataFrame
Columns: [Name, Description, geometry]
Index: []

In [6]:
df = pd.DataFrame(gdf)
df.head()

Empty DataFrame
Columns: [Name, Description, geometry]
Index: []

In [35]:
df_prods = pd.read_csv("../data/products.csv")
df_prods.head()

,Product,BioGro #,Licensee,Scope,Type,Variety,Certificate Valid Until,Actions,Store #
0,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Fuerte,05/07/2023,NaN,NaN
1,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Hass,05/07/2023,NaN,NaN
2,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Fuerte,05/07/2023,NaN,NaN
3,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Hass,05/07/2023,NaN,NaN
4,Avocado,12,Trevor Caines,Primary,Orchard,Hayes,30/04/2024,NaN,NaN

In [9]:
df_licenses = pd.read_csv("../data/BioGroClean.csv")
df_licenses.head()

,BioGro No,Licensee Name,Address,Input Name,Sub Type,Category,Expiry Date
0,5441,FSP Australia,"Octal Street,20,Brisbane, Yatala 4207",“Reggie Post” Innovative Intermediate Trellis ...,Farm Management,Crop Husbandry / Orchard Management,31.07.2023
1,2933,PGG Wrightson (Fruitfed Supplies),"Westwood Avenue,20,Blenheim, Springlands",µInoculate PP9,Soil & Plant Nutrition,Microorganisms,31.07.2023
2,4436,Biostart Ltd,"Anzac Street,33A,Auckland, Takapuna 0622",µInoculate PP9,Soil & Plant Nutrition,Microorganisms,31.07.2023
3,4472,Farmlands Co-Operative Society Ltd,"Ruahapia Rd,233,Hastings, Farmlands Whakatu 4172",µInoculate PP9 (SKU# 158042),Soil & Plant Nutrition,Microorganisms,31.07.2023
4,2753,BdMax Ltd,"Tauroa Road,32,Havelock North 4130",2573 - Bird Scare,Crop Management,Homeopathic Preparation,31.07.2023

## Google Maps Test

In [20]:
from googlemaps import Client as GoogleMaps
gmaps = GoogleMaps("AIzaSyDRcP1h9RP0iQjg0zcT66npyYQzSGjVWVg")
lat_lng = gmaps.geocode("Octal Street,20,Brisbane, Yatala 4207")
print(lat_lng)

[{'address_components': [{'long_name': 'Octal Street', 'short_name': 'Octal St', 'types': ['route']}, {'long_name': 'Yatala', 'short_name': 'Yatala', 'types': ['locality', 'political']}, {'long_name': 'City of Gold Coast', 'short_name': 'Gold Coast', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Queensland', 'short_name': 'QLD', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Australia', 'short_name': 'AU', 'types': ['country', 'political']}, {'long_name': '4207', 'short_name': '4207', 'types': ['postal_code']}], 'formatted_address': 'Octal St, Yatala QLD 4207, Australia', 'geometry': {'bounds': {'northeast': {'lat': -27.7589911, 'lng': 153.2370959}, 'southwest': {'lat': -27.7616377, 'lng': 153.2319398}}, 'location': {'lat': -27.7610107, 'lng': 153.2345066}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': -27.7589654197085, 'lng': 153.2370959}, 'southwest': {'lat': -27.7616633802915, 'lng': 153.2319398}}}, 'partial_match': True, 'place_id': 'ChIJe6T66M5qkWsRwRIMMg9WwF0', 'types': ['route']}]

In [24]:
lat_lng[0]['geometry']['location']

{'lat': -27.7610107, 'lng': 153.2345066}

## Get products for licensee

In [25]:
df_prods[df_prods["Licensee"] == "Trevor Caines"]

,Product,BioGro #,Licensee,Scope,Type,Variety,Certificate Valid Until,Actions
4,Avocado,12,Trevor Caines,Primary,Orchard,Hayes,30/04/2024,NaN
5,Avocado,12,Trevor Caines,Primary,Orchard,Fuerte,30/04/2024,NaN
6,Avocado,12,Trevor Caines,Primary,Orchard,Zutano,30/04/2024,NaN
7,Avocado,12,Trevor Caines,Primary,Orchard,Hass,30/04/2024,NaN
8,Kiwifruit,12,Trevor Caines,Primary,Orchard,Hayward,30/04/2024,NaN

In [30]:
df_prods[df_prods["Licensee"] == "Trevor Caines"].groupby(["Product", "Variety"]).count()["Type"].index

MultiIndex([(  'Avocado',  'Fuerte'),
            (  'Avocado',    'Hass'),
            (  'Avocado',   'Hayes'),
            (  'Avocado',  'Zutano'),
            ('Kiwifruit', 'Hayward')],
           names=['Product', 'Variety'])

In [37]:
df_prods[df_prods["Licensee"] == "Doug David & Jeff Brown"][["Product", "Variety", "Store #"]]

    Product Variety  Store #
0  Avocados  Fuerte      NaN
1  Avocados    Hass      NaN
2  Avocados  Fuerte      NaN
3  Avocados    Hass      NaN

### Add Store Number to data

In [32]:
# df_prods["Store #"] = None
df_prods.head()

,Product,BioGro #,Licensee,Scope,Type,Variety,Certificate Valid Until,Actions,Store #
0,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Fuerte,05/07/2023,NaN,None
1,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Hass,05/07/2023,NaN,None
2,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Fuerte,05/07/2023,NaN,None
3,Avocados,10,Doug David & Jeff Brown,Primary,Orchard,Hass,05/07/2023,NaN,None
4,Avocado,12,Trevor Caines,Primary,Orchard,Hayes,30/04/2024,NaN,None

In [34]:
# df_prods.to_csv("../products.csv", index=False)

### Create Stores (Initial)

In [4]:
stores = pd.DataFrame({
    "Name" : [
        "Te Atatu Fruit & Vege",
        "FAV parnell",
        "Howick Village Grocer",
        "Commonsense Kilbirnie",
        "The Grocer's Shed"
    ],
    "Lat" : [
        -36.87363709050962,
        -36.85270250346494,
        -36.893444380174955,
        -41.31783190781966,
        -41.342935215453345
    ],
    "Long" : [
        174.64570272326705,
        174.7861865674889,
        174.93057477313258,
        174.7953554843551,
        174.77084976331818
    ],
    "Address": [
        "149 Te Atatu Road, Te Atatū South, Auckland 0610, New Zealand",
        "64 Gladstone Road, Parnell, Auckland 1052, New Zealand",
        "33 Picton Street, Howick, Auckland 2014, New Zealand",
        "37 Rongotai Road, Kilbirnie, Wellington 6022, New Zealand",
        "30 Reef Street, Island Bay, Wellington 6023, New Zealand"
    ],
    "Wheelchair Accessible" : [
        True,
        False,
        False,
        True,
        False
    ],
    "Open time" : [
        "8:30 am",
        "8:30 am",
        "7:00 am",
        "8:00 am",
        "8:00 am"
    ],
    "Close time" : [
        "6:00 pm",
        "6:30 pm",
        "6:00 pm",
        "7:00 pm",
        "3:00 pm"
    ],
    "Pets Allowed" : [
        False,
        False,
        False,
        True,
        True
    ]
})
stores.head()

,Name,Lat,Long,Address,Wheelchair Accessible,Open time,Close time,Pets Allowed
0,Te Atatu Fruit & Vege,-36.873637,174.645703,"149 Te Atatu Road, Te Atatū South, Auckland 06...",True,8:30 am,6:00 pm,False
1,FAV parnell,-36.852703,174.786187,"64 Gladstone Road, Parnell, Auckland 1052, New...",False,8:30 am,6:30 pm,False
2,Howick Village Grocer,-36.893444,174.930575,"33 Picton Street, Howick, Auckland 2014, New Z...",False,7:00 am,6:00 pm,False
3,Commonsense Kilbirnie,-41.317832,174.795355,"37 Rongotai Road, Kilbirnie, Wellington 6022, ...",True,8:00 am,7:00 pm,True
4,The Grocer's Shed,-41.342935,174.770850,"30 Reef Street, Island Bay, Wellington 6023, N...",False,8:00 am,3:00 pm,True

In [5]:
stores.to_csv("../data/stores.csv")

In [6]:
new_store = pd.read_csv("../data/stores.csv")
new_store

,Unnamed: 0,Name,Lat,Long,Address,Wheelchair Accessible,Open time,Close time,Pets Allowed
0,0,Te Atatu Fruit & Vege,-36.873637,174.645703,"149 Te Atatu Road, Te Atatū South, Auckland 06...",True,8:30 am,6:00 pm,False
1,1,FAV parnell,-36.852703,174.786187,"64 Gladstone Road, Parnell, Auckland 1052, New...",False,8:30 am,6:30 pm,False
2,2,Howick Village Grocer,-36.893444,174.930575,"33 Picton Street, Howick, Auckland 2014, New Z...",False,7:00 am,6:00 pm,False
3,3,Commonsense Kilbirnie,-41.317832,174.795355,"37 Rongotai Road, Kilbirnie, Wellington 6022, ...",True,8:00 am,7:00 pm,True
4,4,The Grocer's Shed,-41.342935,174.770850,"30 Reef Street, Island Bay, Wellington 6023, N...",False,8:00 am,3:00 pm,True

In [7]:
new_store.columns

Index(['Unnamed: 0', 'Name', 'Lat', 'Long', 'Address', 'Wheelchair Accessible',
       'Open time', 'Close time', 'Pets Allowed'],
      dtype='object')

In [8]:
new_store.columns = ['StoreID', 'Name', 'Lat', 'Long', 'Address', 'Wheelchair Accessible','Open time', 'Close time', 'Pets Allowed']
new_store.head()

,StoreID,Name,Lat,Long,Address,Wheelchair Accessible,Open time,Close time,Pets Allowed
0,0,Te Atatu Fruit & Vege,-36.873637,174.645703,"149 Te Atatu Road, Te Atatū South, Auckland 06...",True,8:30 am,6:00 pm,False
1,1,FAV parnell,-36.852703,174.786187,"64 Gladstone Road, Parnell, Auckland 1052, New...",False,8:30 am,6:30 pm,False
2,2,Howick Village Grocer,-36.893444,174.930575,"33 Picton Street, Howick, Auckland 2014, New Z...",False,7:00 am,6:00 pm,False
3,3,Commonsense Kilbirnie,-41.317832,174.795355,"37 Rongotai Road, Kilbirnie, Wellington 6022, ...",True,8:00 am,7:00 pm,True
4,4,The Grocer's Shed,-41.342935,174.770850,"30 Reef Street, Island Bay, Wellington 6023, N...",False,8:00 am,3:00 pm,True

In [9]:
new_store["StoreID"] = new_store["StoreID"] + 1
new_store.head()

,StoreID,Name,Lat,Long,Address,Wheelchair Accessible,Open time,Close time,Pets Allowed
0,1,Te Atatu Fruit & Vege,-36.873637,174.645703,"149 Te Atatu Road, Te Atatū South, Auckland 06...",True,8:30 am,6:00 pm,False
1,2,FAV parnell,-36.852703,174.786187,"64 Gladstone Road, Parnell, Auckland 1052, New...",False,8:30 am,6:30 pm,False
2,3,Howick Village Grocer,-36.893444,174.930575,"33 Picton Street, Howick, Auckland 2014, New Z...",False,7:00 am,6:00 pm,False
3,4,Commonsense Kilbirnie,-41.317832,174.795355,"37 Rongotai Road, Kilbirnie, Wellington 6022, ...",True,8:00 am,7:00 pm,True
4,5,The Grocer's Shed,-41.342935,174.770850,"30 Reef Street, Island Bay, Wellington 6023, N...",False,8:00 am,3:00 pm,True

In [12]:
new_store.set_index("StoreID", inplace=True)
new_store.head()

,Name,Lat,Long,Address,Wheelchair Accessible,Open time,Close time,Pets Allowed
StoreID,,,,,,,,
1,Te Atatu Fruit & Vege,-36.873637,174.645703,"149 Te Atatu Road, Te Atatū South, Auckland 06...",True,8:30 am,6:00 pm,False
2,FAV parnell,-36.852703,174.786187,"64 Gladstone Road, Parnell, Auckland 1052, New...",False,8:30 am,6:30 pm,False
3,Howick Village Grocer,-36.893444,174.930575,"33 Picton Street, Howick, Auckland 2014, New Z...",False,7:00 am,6:00 pm,False
4,Commonsense Kilbirnie,-41.317832,174.795355,"37 Rongotai Road, Kilbirnie, Wellington 6022, ...",True,8:00 am,7:00 pm,True
5,The Grocer's Shed,-41.342935,174.770850,"30 Reef Street, Island Bay, Wellington 6023, N...",False,8:00 am,3:00 pm,True

In [14]:
new_store.to_csv("../data/stores.csv")
new_store2 = pd.read_csv("../data/stores.csv", index_col="StoreID")
new_store2.head()

,Name,Lat,Long,Address,Wheelchair Accessible,Open time,Close time,Pets Allowed
StoreID,,,,,,,,
1,Te Atatu Fruit & Vege,-36.873637,174.645703,"149 Te Atatu Road, Te Atatū South, Auckland 06...",True,8:30 am,6:00 pm,False
2,FAV parnell,-36.852703,174.786187,"64 Gladstone Road, Parnell, Auckland 1052, New...",False,8:30 am,6:30 pm,False
3,Howick Village Grocer,-36.893444,174.930575,"33 Picton Street, Howick, Auckland 2014, New Z...",False,7:00 am,6:00 pm,False
4,Commonsense Kilbirnie,-41.317832,174.795355,"37 Rongotai Road, Kilbirnie, Wellington 6022, ...",True,8:00 am,7:00 pm,True
5,The Grocer's Shed,-41.342935,174.770850,"30 Reef Street, Island Bay, Wellington 6023, N...",False,8:00 am,3:00 pm,True

In [15]:
new_store.head()

,Name,Lat,Long,Address,Wheelchair Accessible,Open time,Close time,Pets Allowed
StoreID,,,,,,,,
1,Te Atatu Fruit & Vege,-36.873637,174.645703,"149 Te Atatu Road, Te Atatū South, Auckland 06...",True,8:30 am,6:00 pm,False
2,FAV parnell,-36.852703,174.786187,"64 Gladstone Road, Parnell, Auckland 1052, New...",False,8:30 am,6:30 pm,False
3,Howick Village Grocer,-36.893444,174.930575,"33 Picton Street, Howick, Auckland 2014, New Z...",False,7:00 am,6:00 pm,False
4,Commonsense Kilbirnie,-41.317832,174.795355,"37 Rongotai Road, Kilbirnie, Wellington 6022, ...",True,8:00 am,7:00 pm,True
5,The Grocer's Shed,-41.342935,174.770850,"30 Reef Street, Island Bay, Wellington 6023, N...",False,8:00 am,3:00 pm,True

In [17]:
new_store.columns = ['Name', 'lat', 'long', 'Address', 'Wheelchair Accessible', 'Open time', 'Close time', 'Pets Allowed']

In [18]:
new_store.to_csv("../data/stores.csv")